<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Credit Saison</title>
</head>
<body>

<h3>Card Details</h3>
<form action="/check" method="get">
<label>Enter Card ID :</label><input id="cardId" name="cardId" type="text" required="required"><br>
<input type="submit" id="verify" value="Verify">
</form>
<br>
<br>


<h3>Get Stats</h3>
<form action="/stats" method="get">
<label>Enter Start  :</label><input id="start" name="start" type="text" required="required"><br>
<label>Enter Limit :</label><input id="limit" name="limit" type="text" required="required"><br>
<input type="submit" id="getStats">
</form>

</body>
</html>